
.person {
    display: flex;
    flex-direction: column;
    width: 160pt;
    font-size: 1rem;
    color: _palette(fg-bold);
    letter-spacing: _font(letter-spacing);
    align-items: center;
    margin: 5px 0px;
    padding: 0px 5px;
    line-height: 1.5;
    text-transform: uppercase;
    flex-basis: 33.333333%
}

.founder .person {
    flex-basis: 35%;
    width: 100px;
}

.icon.website {
    position: relative;
    font-size: 14px;
    bottom: -1px;
    margin: 0px 0px 0px 0px;
    padding: 5px 3px 5px 5px;
    border-radius: 100%;
    background-color: #462db1;
}

.icon.website:hover {
    background-color: #4a56e6;
}

.person-holder {
    display: flex;
    flex-direction: row;
    border-bottom-color: transparent;
}

.logo-holder {
    width: 0px;
    height: 0px;
    position: relative;
    top: 3.5rem;
    left: -0.5rem;

    @include breakpoint(xlarge) {
        top: 5.5rem;
        left: -1rem;
    }
}

.person-picture {
    width: 100px;
    margin: 10px 0px;
    border-radius: 50%;
    filter: grayscale(40%);
}

.person-picture:hover {
    filter: grayscale(0%);
}

.person-name {
    font-size: 0.7rem;
    margin-bottom: 5px;
}

.person-email{
    font-size: 14px;
    margin-bottom: 0px;
    font-family: _font(family);
    font-weight: _font(weight);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.people_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    flex-basis: 33.333333%
}

.people_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.cc-icon {
    height: 16px;
    margin-left: 3px;
    vertical-align: text-bottom;
}

.cc-license {
    padding-top: 20px;
    margin: 5px;
    font-size: small;
    text-align: center;
}