
.person {
    display: flex;
    flex-direction: column;
    width: 160pt;
    font-size: 1rem;
    color: _palette(fg-bold);
    letter-spacing: _font(letter-spacing);
    align-items: center;
    margin: 5px 0px;
    padding: 0px 5px;
    line-height: 1.5;
    text-transform: uppercase;
    flex-basis: 33.333333%
}

.founder .person {
    flex-basis: 35%;
    width: 100px;
}

.person-picture {
    width: 100px;
    margin: 10px 0px;
    border-radius: 50%;
    filter: grayscale(40%);
}

.person-name {
    font-size: 0.7rem;
    margin-bottom: 5px;
}

.person-email{
    font-size: 14px;
    margin-bottom: 0px;
    font-family: _font(family);
    font-weight: _font(weight);
    text-transform: uppercase;
    letter-spacing: 1px;
}

.people_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
    flex-basis: 33.333333%
}

.people_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

